/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

.dot-pattern {
  background-color: #1F1F1F;
  background-image: radial-gradient(#333333 1px, transparent 1px);
  background-size: 20px 20px;
}


